.container {
  margin: 3rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr) 25%; /* 3 columns */
  gap: 20px; /* Gap between grid items */
  grid-auto-flow: dense; /* Fill in empty grid cells */
  height: 100vh; /* Full height */
}

.item {
  color: black;
  background-color: rgb(218, 218, 218); /* Background color */
  padding: 20px; /* Padding for each grid item */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Box shadow */
}

.item-header {
  font-size: 1.5rem; /* Larger font size */
  font-weight: bold; /* Bold font weight */
  border-bottom: 1px solid #383737; /* Border bottom */
}



